@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
/*font-family: 'Montserrat'*/

:root {
	--primary: #3DB2FF;
  --secondary: #4a248b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

ul{
  margin: 0;
  padding: 0;
}






