.ModaleNewEvent {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  z-index: 1;
}

.gridInput {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.containerInput {
  display: flex;
  flex-direction: column-reverse;
}

.titleForm {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  border-right: 1px solid hsla(0, 0%, 100%, 0.05);

  border-radius: 24px;
  background-image: linear-gradient(
    133deg,
    hsla(0, 0%, 100%, 0.1) 16%,
    hsla(0, 0%, 100%, 0.03) 60%
  );
  position: relative;
}

.form {
  input,
  textarea {
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    border: solid 1px var(--secondary);
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    transition: all 0.3s;
    background-color: transparent;
    color: white;
    font-size: 1rem;
  }

  textarea {
    resize: none;
  }

  input:focus,
  textarea:focus {
    background-color: #683ab73b;
    border: solid 1px #683ab73b;
  }

  label {
    position: relative;
    transition: all 0.3s ease-in;
    transform: translateY(30px);
    color: #ababab;
    margin-left: 15px;
  }

  button {
    margin-top: 15px;
    border: solid 1px var(--secondary);
    border-radius: 20px;
    padding: 10px;
    background-color: #683ab747;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s;

    &:hover {
      background-color: #683ab73b;
      border: 1px solid #683ab73b;
      color: white;
    }
  }
}

/*Form Label Effect*/
.form {
  :not(:placeholder-shown) + label,
  input:focus + label,
  textarea:focus + label,
  .containerInput:hover label {
    transform: translateY(-2px);
    font-weight: 500;
    color: white;
  }
}

.form input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Change autocomplete styles in WebKit */
.form input:-webkit-autofill
 {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}


/*Close Button*/
.close {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  background-color: #683ab747;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  
  font-size: 1.5rem;
  cursor: pointer;
}

.close:hover {
  transform: rotate(90deg);
  background-color: var(--secondary);
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Media queries*/
@media (max-width: 600px) {
  .form{
    width:100%;
    height: 100%;
    padding: 5px;
    border-radius: 0;

    input, textarea{
      margin-bottom: 5px;
    }
  }

  .gridInput {
    grid-template-columns:  1fr;
    gap: 5px;
  }

  .titleForm {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .form textarea {
    height: 100px;
  }
}

/*Mozilla*/
@-moz-document url-prefix() {
  .ModaleNewEvent {
      background-color: rgba(0, 0, 0, 0.9);
  }
}
